.form{
    margin: 0 auto;
    width: 40%;
}
.form>input{
    padding:18px 20px ;
    border: solid 1px #e2e2e2;
    border-radius: 5px;
    width: 70%;
    font-size: 18px;
    color: #716f6f;
    border: 0.5 solid grey;
}
.form>button{
    border: none;
    outline: none;
    background-color: blue;
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    margin-left: 20px;
}